@import "src/styles/variables";

.appContainer {
  display: flex;
}

.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.compareOptionsContainer {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  min-width: calc(20vw - (var(--spacer-1) * 4));

  .propertyListContainer {
    display: flex;
    flex: 1;
  }
}
