@import "src/styles/variables";

.title {
  font-size: $h4-font-size;
}

.headerTitle {
  display: flex;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  font-size: $h2-font-size;
  font-weight: $bold-font-weight;
  color: $blue-light;
  padding: var(--spacer-4) var(--spacer-2);
}

.image {
  display: block;
  position: relative;
  overflow: hidden;
  width: $product-image-width;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .spacer {
    padding-top: 100%;
  }
}

.propertyItem {
  padding: var(--spacer-1) var(--spacer-2);
  font-weight: $bold-font-weight;
  border-bottom: 1px solid $gray-light;
  text-transform: capitalize;

  &.badges {
    display: flex;
    align-items: center;
    height: $icon-size;
    padding: var(--spacer-1) 0 var(--spacer-1) var(--spacer-2);
  }
}

.hasDiff {
  background-color: $gray-light;
}