@import "src/styles/variables";

.title {
  font-size: $h4-font-size;
}

.image {
  display: block;
  position: relative;
  overflow: hidden;
  width: $product-image-width;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .spacer {
    padding-top: 100%;
  }
}

.badgeList {
  display: flex;
  justify-content: center;
  padding: var(--spacer-1) 0;
  border-bottom: 1px solid $gray-light;

  .badge {
    width: $icon-size;
    height: $icon-size;
    margin: calc(var(--baseline-1) / 2)
  }
}

.propertyItem {
  padding: var(--spacer-1);
  font-weight: $bold-font-weight;
  border-bottom: 1px solid $gray-light;

  &.hasDiff {
    background-color: $gray-light;
  }

  &.badges {
    display: flex;
    align-items: center;
    height: $icon-size;
    padding: calc(var(--spacer-2) / 1.3) 0;
    padding-left: var(--baseline-1);
    border-top: 1px solid $gray-light;
  }
}