@import "src/styles/variables";

.propertyList {
  display: flex;

  .listContainer {
    display: flex;
    flex-direction: column;

    .propertyItem {
      &.hasDiff {
        background-color: #7d7d7d;
      }
    }
  }
}
