@import "src/styles/variables";

.productItem {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: $product-item-width;
  min-width: 200px;

  &.disabled {
    background-color: $gray-light;
  }

  .header {
    margin: var(--spacer-2) 0 var(--spacer-4) var(--spacer-2);
    border-bottom: $gray-light solid 1px;

    .removeItemContainer {
      text-align: right;
      margin: var(--spacer-2);
    }

    .imageContainer {
      display: flex;
      justify-content: center;
      position: relative;
      padding-bottom: var(--spacer-4);
    }

    .productItemTitle {
      color: $blue-light;
      font-weight: $bold-font-weight;
      padding-bottom: var(--spacer-2);
    }

    .priceContainer {
      padding-bottom: var(--spacer-2);

      .productItemPrice {
        font-weight: $bold-font-weight;
      }

      span {
        color: $gray;
        font-size: $small-font-size;
      }
    }
  }
}