@import "src/styles/variables";

.productItem {
  display: flex;
  flex: 1;

  &.disabled {
    background-color: #c4c4c4;
  }

  .header {

    .imageContainer {

      .removeItemContainer {

      }
    }

    .titleContainer {

    }

    .priceContainer {

    }
  }

  .propListContainer {

  }
}